/*============================================== Background =============================================*/
/*============================================== Cover Filter =============================================*/
/*============================================== Input Background =============================================*/
/*============================================== Error color =============================================*/
/*=========================================== Success color ==============================================*/
/*================================================ Navbar ===============================================*/
/*============================================== Text Color ==============================================*/
/*================================================ Button ================================================*/
/*============================================== input Color ==============================================*/
/*================================================ Card ================================================*/
/*============================================== Form ================================================*/
/*============================================== Link ================================================*/
/*================================================= Shadow ================================================*/
/*================================================= Border ================================================*/
/*============================================= On hover ============================================*/
/* Navbar & Footer */
/* Input */
/* Button */
/*============================================= Active ============================================*/
/* Input */
/*================================================= li ================================================*/
/*================================================= menu ================================================*/
/*================================================= search ================================================*/
/*============================================== Price color =============================================*/
/*============================================ Table Background ===========================================*/
/*============================================ Discount color ===========================================*/
/*============================================ Processing color ===========================================*/
/*============================================ Cubic Bezier ===========================================*/
h1 a {
  background-color: #FFFFFF;
}

/* @include mobile() {
    .title{
        background-color: $background-color-primary;
        display: none;
    }
}  */
/*================================================= sidebar ================================================*/
.common__depression {
  background-color: #FFFFFF;
  font-family: Helvetica;
}
.common__depression #depression {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 1px;
}
.common__depression p {
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
  padding-top: 2rem;
}
.common__depression__help {
  display: flex;
  justify-content: space-between;
}
.common__depression__help img {
  width: 50%;
  height: 50rem;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 5rem;
}
.common__depression__help__writtern p {
  font-size: 1.9rem;
}
.common__depression__pragraph p {
  font-size: 1.9rem;
}
.common__anxiete {
  font-family: Helvetica;
  background-color: #007DFF;
  color: #FFFFFF;
  margin-top: -2rem;
}
.common__anxiete #anxiety {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 1px;
}
.common__anxiete h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
}
.common__anxiete h4 {
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
}
.common__anxiete__companents {
  display: flex;
  justify-content: space-between;
}
.common__anxiete__companents img {
  height: 80rem;
  width: 55rem;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 6rem;
}
.common__anxiete__companents h3 {
  font-size: 2rem;
  padding-left: 3rem;
  padding-top: 4rem;
}
.common__anxiete__companents p {
  font-size: 1.9rem;
  font-weight: 100;
  padding-left: 3rem;
}
.common__anxiete__phobia p {
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
  padding-top: 8rem;
}
.common__negative {
  font-family: Helvetica;
}
.common__negative #shadow {
  text-align: center;
  font-size: 3rem;
}
.common__negative h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
}
.common__negative h4 {
  text-align: center;
  font-size: 1.9rem;
  font-weight: 100;
}
.common__negative__positive {
  display: flex;
  justify-content: space-between;
}
.common__negative__positive img {
  width: 50%;
  height: 60rem;
  padding-top: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.common__negative__positive__thinking {
  font-size: 2rem;
}
.common__negative__positive__thinking h3 {
  margin-top: 2rem;
}
.common__negative__positive__thinking p {
  font-weight: 100;
}
.common__negative__join h1 {
  text-align: center;
  font-size: 2rem;
}
.common__negative__join p {
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
}
.common__negative__join img {
  width: 100%;
  height: 60rem;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */