/*============================================== Background =============================================*/
/*============================================== Cover Filter =============================================*/
/*============================================== Input Background =============================================*/
/*============================================== Error color =============================================*/
/*=========================================== Success color ==============================================*/
/*================================================ Navbar ===============================================*/
/*============================================== Text Color ==============================================*/
/*================================================ Button ================================================*/
/*============================================== input Color ==============================================*/
/*================================================ Card ================================================*/
/*============================================== Form ================================================*/
/*============================================== Link ================================================*/
/*================================================= Shadow ================================================*/
/*================================================= Border ================================================*/
/*============================================= On hover ============================================*/
/* Navbar & Footer */
/* Input */
/* Button */
/*============================================= Active ============================================*/
/* Input */
/*================================================= li ================================================*/
/*================================================= menu ================================================*/
/*================================================= search ================================================*/
/*============================================== Price color =============================================*/
/*============================================ Table Background ===========================================*/
/*============================================ Discount color ===========================================*/
/*============================================ Processing color ===========================================*/
/*============================================ Cubic Bezier ===========================================*/
h1 a {
  background-color: #FFFFFF;
}

/* @include mobile() {
    .title{
        background-color: $background-color-primary;
        display: none;
    }
}  */
/*================================================= sidebar ================================================*/
.team__home {
  display: flex;
  justify-content: space-around;
  background-color: pink;
  padding-top: 3rem;
  background-color: #FFFFFF;
}
.team__home img {
  height: 7rem;
  width: 9rem;
  margin-left: 5rem;
}
.team__home ul {
  font-family: Helvetica;
  font-size: 25px;
  margin-left: 30rem;
}
.team__home a {
  text-decoration: none;
  margin-right: 3rem;
  color: #000000;
  font-weight: 300;
}
.team__group {
  text-align: center;
  background-color: pink;
  margin-top: -2rem;
  padding-bottom: 7rem;
  background-color: #FFFFFF;
}
.team__group h1 {
  font-size: 3rem;
  font-family: Helvetica;
  padding-top: 3rem;
}
.team__group p {
  font-family: Helvetica;
  font-size: 3rem;
  letter-spacing: 1px;
  font-weight: 100;
  margin-top: 6rem;
}
.team__workers {
  background-color: #007DFF;
  color: #FFFFFF;
  font-family: Helvetica;
  margin-top: -5rem;
}
.team__workers__departement {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5rem;
  padding-top: 13rem;
}
.team__workers img {
  height: 400px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.team__workers h1 {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 2.5rem;
}
.team__workers p {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10rem;
}
.team__pictures {
  background-color: #FFFFFF;
  margin-top: -5rem;
}
.team__pictures__sign img {
  width: 18rem;
  height: 13rem;
  -o-object-fit: cover;
     object-fit: cover;
  padding-left: 40rem;
  padding-bottom: 15rem;
}
.team__pictures__wall img {
  width: 100%;
  height: 85rem;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */